extends layout

block content
 h1= title
 form(id='DeodorantForm' action="/resource/deodorant" method="POST")
  div.form-group
      label.deodorantAttr(for='D_Name') deodorant Name
      input#deodorant_name(type='text' name='D_Name')
  div.form-group
      label.deodorantAttr(for='D_Type') deodorant Type
      input#deodorant_type(type='text' name='D_Type')
  div.form-group
      label.deodorantAttr(for='D_Cost') deodorant Cost
      input#cost(type='number' name='D_Cost')
      input(type="submit")
      script.
        document.forms['DeodorantForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
        alert("Save succeded")
        window.location.href='/Deodorant'
            // TODO handle body
        }).catch((error) => {
            // TODO handle error
        alert("Save failed " + error )
        });
        });
